.container{
  width: 1000px;

}
mat-dialog-container{
  /*overflow: hidden;*/
  background: white;
  width: 100%;
  overflow-y: hidden;
}
.validate{
  color: red;
}

 * {
  overflow-x: hidden;
   overflow-y: hidden;
 }
