<!--<div class="container-fluid" style="background: url('https://i.pinimg.com/564x/c8/33/ce/c833cec93d46a87303101b76b0eaeb60.jpg')">-->
<div class="container-fluid"
     style="background-image: url('/assets/img/background.jpg'); min-height: 100vh">
  <!--  <div class="row" style="padding-top: 20px">-->
  <!--    <div class="col-lg-3"></div>-->
  <!--    <div class="col-lg-6" align="center" style="background: white">-->
  <!--      -->
  <!--    </div>-->
  <!--    <div class="col-lg-3"></div>-->
  <!--  </div>-->
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 mt-5" style="background: white; border: solid #1BB1DC 1px; border-radius: 25px">
      <br>
      <h3 align="center">Chỉnh sửa thông tin học sinh</h3>
      <br>
      <form [formGroup]="editForm" (ngSubmit)="edit(editForm)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name" class="font-weight">Tên học sinh<span
              style="color: red"> *</span> :
            </label>
            <input type="text" class="form-control" formControlName="studentName" id="name">
            <div>
              <div *ngFor="let valid of validationMessage.studentName">
                <small style="color: red"
                       *ngIf="editForm.get('studentName').hasError(valid.type) &&
                       (editForm.get('studentName').pristine || editForm.get('studentName').pristine)">
                  {{valid.message}}
                </small>
              </div>
              <div
                *ngIf="!editForm.controls.studentName.valid &&
                (editForm.controls.studentName.pristine || editForm.controls.studentName.pristine)">
                <small style="color: red" *ngIf="editForm.controls.studentName.errors.invalidMsg">
                  {{editForm.controls.studentName.errors.invalidMsg}}
                </small>
              </div>
              <small style="color: red"
                     *ngIf="editForm.controls.studentName.hasError('minlength') &&
                 (editForm.controls.studentName.pristine || editForm.controls.studentName.pristine)">
                Họ và tên tối thiểu 5 chữ cái.
              </small>
              <small style="color: red"
                     *ngIf="editForm.controls.studentName.hasError('maxlength') &&
                 (editForm.controls.studentName.pristine || editForm.controls.studentName.pristine)">
                Họ và tên học sinh tối đa 50 chữ cái.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="date" class="font-weight">Ngày sinh<span
              style="color: red"> *</span> :</label>
            <input type="date" class="form-control" id="date" min="2000-01-01" max="2021-11-30"
                   formControlName="studentDateOfBirth">
            <div *ngFor="let valid of validationMessage.studentDateOfBirth">
              <small style="color: red"
                     *ngIf="editForm.get('studentDateOfBirth').hasError(valid.type) &&
                       (editForm.get('studentDateOfBirth').pristine || editForm.get('studentDateOfBirth').pristine)">
                {{valid.message}}
              </small>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="father" class="font-weight">Họ và tên cha<span
              style="color: red"> *</span> :
            </label>
            <input type="text" class="form-control" id="father" formControlName="studentFatherName">
            <div>
              <div *ngFor="let valid of validationMessage.studentFatherName">
                <small style="color: red"
                       *ngIf="editForm.get('studentFatherName').hasError(valid.type) &&
                       (editForm.get('studentFatherName').pristine || editForm.get('studentFatherName').pristine)">
                  {{valid.message}}
                </small>
              </div>
              <div
                *ngIf="!editForm.controls.studentFatherName.valid &&
                (editForm.controls.studentFatherName.pristine || editForm.controls.studentFatherName.pristine)">
                <small style="color: red" *ngIf="editForm.controls.studentFatherName.errors.invalidMsg">
                  {{editForm.controls.studentFatherName.errors.invalidMsg}}
                </small>
              </div>
              <small style="color: red"
                     *ngIf="editForm.controls.studentFatherName.hasError('minlength') &&
                 editForm.controls.studentFatherName.pristine">Họ tên tối thiểu 5 chữ cái.
              </small>
              <small style="color: red"
                     *ngIf="editForm.controls.studentFatherName.hasError('maxlength') &&
                 editForm.controls.studentFatherName.pristine">Họ và tên tối đa 50 chữ cái.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="mother" class="font-weight">Họ và tên mẹ<span
              style="color: red"> *</span> :
            </label>
            <input type="text" class="form-control" id="mother" formControlName="studentMotherName">
            <div>
              <div *ngFor="let valid of validationMessage.studentMotherName">
                <small style="color: red"
                       *ngIf="editForm.get('studentMotherName').hasError(valid.type) &&
                       (editForm.get('studentMotherName').pristine || editForm.get('studentMotherName').pristine)">
                  {{valid.message}}
                </small>
              </div>
              <div
                *ngIf="!editForm.controls.studentMotherName.valid &&
                (editForm.controls.studentMotherName.pristine || editForm.controls.studentMotherName.pristine)">
                <small style="color: red" *ngIf="editForm.controls.studentMotherName.errors.invalidMsg">
                  {{editForm.controls.studentMotherName.errors.invalidMsg}}
                </small>
              </div>
              <small style="color: red"
                     *ngIf="editForm.controls.studentMotherName.hasError('minlength') &&
                 editForm.controls.studentMotherName.pristine">Họ tên tối thiểu 5 chữ cái.
              </small>
              <small style="color: red"
                     *ngIf="editForm.controls.studentMotherName.hasError('maxlength') &&
                 editForm.controls.studentMotherName.pristine">Họ và tên tối đa 50 chữ cái.
              </small>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="phone" class="font-weight">Số điện thoại của phụ huynh<span
              style="color: red"> *</span>
              : </label>
            <input type="text" class="form-control" id="phone" formControlName="studentParentPhone">
            <div>
              <div *ngFor="let valid of validationMessage.studentParentPhone">
                <small style="color: red"
                       *ngIf="editForm.get('studentParentPhone').hasError(valid.type) &&
                       (editForm.get('studentParentPhone').pristine|| editForm.get('studentParentPhone').pristine)">
                  {{valid.message}}
                </small>
              </div>
              <div
                *ngIf="!editForm.controls.studentParentPhone.valid &&
                (editForm.controls.studentParentPhone.pristine || editForm.controls.studentParentPhone.pristine)">
                <small style="color: red" *ngIf="editForm.controls.studentParentPhone.errors.invalidMsg">
                  {{editForm.controls.studentParentPhone.errors.invalidMsg}}
                </small>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="religion" class="font-weight">Tôn giáo : </label>
            <input type="text" class="form-control" id="religion" formControlName="studentReligion">
            <div *ngFor="let valid of validationMessage.studentReligion">
              <small style="color: red"
                     *ngIf="editForm.get('studentReligion').hasError(valid.type) &&
                     (editForm.get('studentReligion').pristine || editForm.get('studentReligion').pristine)">
                {{valid.message}}
              </small>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="address" class="font-weight">Quê quán<span
              style="color: red"> *</span> : </label>
            <input type="text" class="form-control" id="address" formControlName="studentAddress">
            <div *ngFor="let valid of validationMessage.studentAddress">
              <small style="color: red"
                     *ngIf="editForm.get('studentAddress').hasError(valid.type) &&
                     (editForm.get('studentAddress').pristine|| editForm.get('studentAddress').pristine)">
                {{valid.message}}
              </small>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="ethnicity" class="font-weight">Dân tộc<span
              style="color: red"> *</span> : </label>
            <input type="text" class="form-control" id="ethnicity" formControlName="studentEthnicity">
            <div *ngFor="let valid of validationMessage.studentEthnicity">
              <small style="color: red"
                     *ngIf="editForm.get('studentEthnicity').hasError(valid.type) &&
                     (editForm.get('studentEthnicity').pristine|| editForm.get('studentEthnicity').pristine)">
                {{valid.message}}
              </small>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label style="padding-right: 10px;" class="font-weight">Giới tính<span style="color: red"> *</span>
              :</label>
            <br>
            <div class="custom-control custom-radio custom-control-inline">
              <input class="custom-control-input" type="radio"
                     name="studentGender" id="inlineRadio1"
                     value="0" formControlName="studentGender"
                     [checked]="editForm.controls.studentGender.value == '0'">
              <label class="custom-control-label" for="inlineRadio1">Nam</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input class="custom-control-input" type="radio"
                     name="studentGender" id="inlineRadio2"
                     value="1" formControlName="studentGender"
                     [checked]="editForm.controls.studentGender.value == '1'">
              <label class="custom-control-label" for="inlineRadio2">Nữ</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input class="custom-control-input" type="radio"
                     name="studentGender" id="inlineRadio3"
                     value="2" formControlName="studentGender"
                     [checked]="editForm.controls.studentGender.value == '2'">
              <label class="custom-control-label" for="inlineRadio3">Khác</label>
            </div>
            <div *ngFor="let valid of validationMessage.studentGender">
              <small style="color: red"
                     *ngIf="editForm.get('studentGender').hasError(valid.type) &&
                     editForm.get('studentGender').pristine">
                {{valid.message}}
              </small>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="file"
                   class="font-weight">Ảnh học sinh<span style="color: red"> *</span> :
            </label>
            <div class="card" style="width: 200px;">
              <img class="card-img-top" [src]="editForm.value.studentImage" alt="Student Image"
                   (click)="fileUploader.click()">
              <input type="file" accept="image/*" #fileUploader class="form-control-file"
                     id="file"
                     (change)="showPreview($event)">
            </div>
            <div *ngFor="let valid of validationMessage.studentImage">
              <small style="color: red"
                     *ngIf="editForm.get('studentImage').hasError(valid.type) &&
                     (editForm.get('studentImage').pristine || editForm.get('studentImage').pristine)">
                {{valid.message}}
              </small>
            </div>
          </div>
        </div>
        <div class="form-row float-right mb-3">
          <div class="spinner-border text-info mr-2 mt-1" *ngIf="showSpinner">
            <span class="sr-only">Loading...</span>
          </div>
          <button type="button" class="btn btn-warning mr-2" data-dismiss="modal" style="color: white"  (click)="quayLai()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 fill="currentColor"
                 class="bi bi-x-circle" viewBox="0 0 16 16" style="margin-bottom: 5px">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
            Quay lại
          </button>
          <button type="submit" class="btn btn-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 style="margin-bottom: 5px"
                 class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            Cập nhật
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-3"></div>
    <div class="row">
      <div class="col-lg-12">
        <h1>. </h1>
      </div>
    </div>
  </div>
</div>
