<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <h3 style="color: black; margin-bottom: 20px" align="center">Thêm mới học sinh</h3>
    </div>
    <div class="col-lg-1">
    </div>
  </div>
</div>
<form [formGroup]="createForm" (ngSubmit)="createStudent(createForm)" class="p-3">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name" style="color: black" class="font-weight">Họ và tên học sinh <span
        style="color: red">*</span>
        :
      </label>
      <input type="text" class="form-control" formControlName="studentName" id="name"
             placeholder="Nguyễn Văn A">
      <div>
        <div *ngFor="let valid of validationMessage.studentName">
          <small style="color: red"
                 *ngIf="createForm.get('studentName').hasError(valid.type) && (createForm.get('studentName').touched || createForm.get('studentName').dirty)">
            {{valid.message}}
          </small>
        </div>
        <div
          *ngIf="!createForm.controls.studentName.valid &&
          (createForm.controls.studentName.dirty || createForm.controls.studentName.touched)">
          <small style="color: red" *ngIf="createForm.controls.studentName.errors.invalidMsg">
            {{createForm.controls.studentName.errors.invalidMsg}}
          </small>
        </div>
        <small style="color: red"
               *ngIf="createForm.controls.studentName.hasError('minlength') &&
                 (createForm.controls.studentName.touched || createForm.controls.studentName.dirty)">Họ và tên học sinh
          tối thiểu 5 chữ cái.
        </small>
        <small style="color: red"
               *ngIf="createForm.controls.studentName.hasError('maxlength') &&
                 (createForm.controls.studentName.touched || createForm.controls.studentName.dirty)">Họ và tên học sinh
          tối đa 50 chữ cái.
        </small>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="date" style="color: black" class="font-weight">Ngày sinh <span style="color: red">*</span>
        :
      </label>
      <input type="date" class="form-control" id="date" min="2000-01-01" max="2021-11-30"
             formControlName="studentDateOfBirth">
      <div *ngFor="let valid of validationMessage.studentDateOfBirth">
        <small style="color: red"
               *ngIf="createForm.get('studentDateOfBirth').hasError(valid.type) &&
                 (createForm.get('studentDateOfBirth').touched || createForm.get('studentDateOfBirth').dirty)">
          {{valid.message}}
        </small>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="father" style="color: black" class="font-weight">Họ và tên cha<span
        style="color: red"> *</span>
        :
      </label>
      <input type="text" class="form-control" id="father" placeholder="Nguyễn Văn B"
             formControlName="studentFatherName">
      <div>
        <div *ngFor="let valid of validationMessage.studentFatherName">
          <small style="color: red"
                 *ngIf="createForm.get('studentFatherName').hasError(valid.type) &&
                 (createForm.get('studentFatherName').dirty || createForm.get('studentFatherName').touched)">
            {{valid.message}}
          </small>
        </div>
        <div
          *ngIf="!createForm.controls.studentFatherName.valid &&
          (createForm.controls.studentFatherName.dirty || createForm.controls.studentFatherName.touched)">
          <small style="color: red" *ngIf="createForm.controls.studentFatherName.errors.invalidMsg">
            {{createForm.controls.studentFatherName.errors.invalidMsg}}
          </small>
        </div>
        <small style="color: red"
               *ngIf="createForm.controls.studentFatherName.hasError('minlength') &&
                 createForm.controls.studentFatherName.touched">Họ tên tối thiểu 5 chữ cái.
        </small>
        <small style="color: red"
               *ngIf="createForm.controls.studentFatherName.hasError('maxlength') &&
                 createForm.controls.studentFatherName.touched">Họ và tên tối đa 50 chữ cái.
        </small>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="mother" style="color: black" class="font-weight">Họ và tên mẹ<span
        style="color: red"> *</span> :
      </label>
      <input type="text" class="form-control" id="mother"
             placeholder="Nguyễn Văn C" formControlName="studentMotherName">
      <div>
        <div *ngFor="let valid of validationMessage.studentMotherName">
          <small style="color: red"
                 *ngIf="createForm.get('studentMotherName').hasError(valid.type) &&
                 (createForm.get('studentMotherName').dirty || createForm.get('studentMotherName').touched )">
            {{valid.message}}
          </small>
        </div>
        <div
          *ngIf="!createForm.controls.studentMotherName.valid &&
          (createForm.controls.studentMotherName.dirty || createForm.controls.studentMotherName.touched)">
          <small style="color: red" *ngIf="createForm.controls.studentMotherName.errors.invalidMsg">
            {{createForm.controls.studentMotherName.errors.invalidMsg}}
          </small>
        </div>
        <small style="color: red"
               *ngIf="createForm.controls.studentMotherName.hasError('minlength') &&
                 createForm.controls.studentMotherName.touched">Họ tên tối thiểu 5 chữ cái.
        </small>
        <small style="color: red"
               *ngIf="createForm.controls.studentMotherName.hasError('maxlength') &&
                 createForm.controls.studentMotherName.touched">Họ và tên tối đa 50 chữ cái.
        </small>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="phone" style="color: black" class="font-weight">Số điện thoại của phụ huynh<span
        style="color: red"> *</span>
        :
      </label>
      <input type="text" class="form-control" id="phone" placeholder="0xxxxxxxxx"
             formControlName="studentParentPhone">
      <div>
        <div *ngFor="let valid of validationMessage.studentParentPhone">
          <small style="color: red"
                 *ngIf="createForm.get('studentParentPhone').hasError(valid.type) && (createForm.get('studentParentPhone').dirty || createForm.get('studentParentPhone').touched )">
            {{valid.message}}
          </small>
        </div>
        <div
          *ngIf="!createForm.controls.studentParentPhone.valid && (createForm.controls.studentParentPhone.dirty || createForm.controls.studentParentPhone.touched)">
          <small style="color: red" *ngIf="createForm.controls.studentParentPhone.errors.invalidMsg">
            {{createForm.controls.studentParentPhone.errors.invalidMsg}}
          </small>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="religion" style="color: black" class="font-weight">Tôn giáo : </label>
      <input type="text" class="form-control" id="religion" placeholder="Phật giáo"
             formControlName="studentReligion" value="Không">
      <div *ngFor="let valid of validationMessage.studentReligion">
        <small style="color: red"
               *ngIf="createForm.get('studentReligion').hasError(valid.type) &&
               (createForm.get('studentReligion').dirty || createForm.get('studentReligion').touched)">
          {{valid.message}}
        </small>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="address" style="color: black" class="font-weight">Quê quán<span style="color: red"> *</span>
        :
      </label>
      <input type="text" class="form-control" id="address" placeholder="Đà Nẵng"
             formControlName="studentAddress">
      <div *ngFor="let valid of validationMessage.studentAddress">
        <small style="color: red"
               *ngIf="createForm.get('studentAddress').hasError(valid.type) &&
               (createForm.get('studentAddress').dirty || createForm.get('studentAddress').touched )">
          {{valid.message}}
        </small>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="ethnicity" style="color: black" class="font-weight">Dân tộc<span
        style="color: red"> *</span> : </label>
      <input type="text" class="form-control" id="ethnicity" placeholder="Kinh"
             formControlName="studentEthnicity">
      <div *ngFor="let valid of validationMessage.studentEthnicity">
        <small style="color: red"
               *ngIf="createForm.get('studentEthnicity').hasError(valid.type) &&
               (createForm.get('studentEthnicity').dirty || createForm.get('studentEthnicity').touched)">
          {{valid.message}}
        </small>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label style="padding-right: 10px; color: black"
             class="font-weight">Giới tính<span
        style="color: red"> *</span> :</label>
      <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" type="radio"
               name="studentGender" id="inlineRadio1"
               value="0" formControlName="studentGender" checked="checked">
        <label class="custom-control-label" for="inlineRadio1">Nam</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" type="radio"
               name="studentGender" id="inlineRadio2"
               value="1" formControlName="studentGender">
        <label class="custom-control-label" for="inlineRadio2">Nữ</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" type="radio"
               name="studentGender" id="inlineRadio3"
               value="2" formControlName="studentGender">
        <label class="custom-control-label" for="inlineRadio3">Khác</label>
      </div>
      <div *ngFor="let valid of validationMessage.studentGender">
        <small style="color: red"
               *ngIf="createForm.get('studentGender').hasError(valid.type) &&
               (createForm.get('studentGender').dirty || createForm.get('studentGender').touched)">
          {{valid.message}}
        </small>
      </div>
      <div style="margin-left: 50px; margin-top: 20px">
        <img src="/assets/img/tenor.gif" style="max-width: 70%" alt="">
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="file" style="color: black"
             class="font-weight">Ảnh học sinh<span style="color: red"> *</span> :
      </label>
      <div class="card" style="width: 200px">
        <input type="file" accept="image/*" #fileUploader class="form-control-file"
               formControlName="studentImage" id="file"
               (change)="showPreview($event)">
        <img [src]="imgSrc" (click)="fileUploader.click()">
      </div>
      <div *ngFor="let valid of validationMessage.studentImage">
        <small style="color: red"
               *ngIf="createForm.get('studentImage').hasError(valid.type) &&
                     (createForm.get('studentImage').dirty || createForm.get('studentImage').touched)">
          {{valid.message}}
        </small>
      </div>
    </div>
  </div>
  <div class="form-row mt-2 float-right pb-4">
    <div class="spinner-border text-info mt-1" *ngIf="showSpinner">
      <span class="sr-only">Loading...</span>
    </div>
    <button mat-dialog-close="true" class="btn btn-warning ml-2" data-dismiss="modal">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
           fill="currentColor"
           style="margin-bottom: 5px"
           class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
      Huỷ
    </button>
    <button type="button" (click)="resetForm()" class="btn btn-danger ml-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
           fill="currentColor"
           style="margin-bottom: 5px"
           class="bi bi-eraser" viewBox="0 0 16 16">
        <path
          d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
      </svg>
      Xoá biểu mẫu
    </button>
    <button type="submit" [disabled]="createForm.invalid" class="btn btn-success ml-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
           fill="currentColor"
           class="bi bi-plus-circle" viewBox="0 0 16 16" style="margin-bottom: 5px">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
      Thêm học sinh mới
    </button>
  </div>
</form>
