.bg-color {
  background-color: #1BB1DC;
  color: white;
}
table{
  min-width: 1000px;
  background-color: white;
}

.table-classroom th{
  vertical-align: middle;
  font-size: 16px;
}
.bg-img{
  background-image: url("src/assets/img/background-nhat.jpg");
  background-size: cover;
  min-height: 130vh;
  height: 100%;
  width: 100%;
}
