<!--<div style="background-image: url(https://img4.thuthuatphanmem.vn/uploads/2020/07/05/background-tre-em_035755045.jpg)">-->
<!--<div style="background-image: url(https://lh3.googleusercontent.com/proxy/GtdHtBI7I4lMAK7Pqbz_MB-egolAeJ0LXNlyHKJdsGOhFm1uZRkXl-XpHDqkff5JH5yngJ7JXrEZ7mm1HNkjPKIlZcvjWvGkXxdzsJz9XR3Z75H-iSlfYXGtL6b3CUHG74jCBMJiFLH88yYSZFIxmr1VkflGk8HOKdh66JnwY5oykznfvFsZVC3QvMY)">-->


<!--<div id="mainPhuc">-->

<!--<div style="background: url(https://meta.vn/Data/image/2021/10/01/hinh-nen-background-powerpoint-31.jpg)">-->
<!--<div-->
<!--  style="background-image: url('https://meta.vn/Data/image/2021/10/01/hinh-nen-background-powerpoint-31.jpg');background-size: cover; min-height: 130vh;margin-top: 150px">-->
<!--  <h1 style="color: #1BB1DC;text-align: center;margin-top: 100px;">Lịch dạy-->
<!--    lớp {{scheduleDetails[0].classroomName}}</h1>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-1"></div>-->
<!--    <div class="col-lg-10">-->
<!--      <div class="table-responsive" style="margin-top: 10px">-->
<!--        <table class="table  table-striped" style="background-color: white">-->
<!--          <thead style="background-color: #1BB1DC; color: white">-->
<!--          <tr style="font-size: 16px">-->
<!--            <th>Tiết</th>-->
<!--            <th>Thứ Hai</th>-->
<!--            <th>Thứ Ba</th>-->
<!--            <th>Thứ Tư</th>-->
<!--            <th>Thứ Năm</th>-->
<!--            <th>Thứ Sáu</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let day of days" style="font-size: 14px">-->
<!--            <th>{{day}}</th>-->
<!--            <td *ngFor="let time of times">-->
<!--              <ng-container *ngFor="let schedule of scheduleDetails">-->

<!--                <p *ngIf="schedule.studyTime == time && schedule.studyDay == day">-->
<!--                  {{schedule.subjectName}}-->
<!--                </p>-->


<!--              </ng-container>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-lg-1"></div>-->
<!--  </div>-->
<!--</div>-->


<!--<tr *ngFor="let time of times" style="font-size: 14px">-->
<!--  <th style=" border-right-width: 1.5px; border-right-color: black">{{time}}</th>-->
<!--  <td *ngFor="let day of days">-->
<!--    <ng-container *ngFor="let schedule of scheduleDetails">-->
<!--      <ng-container-->

<!--        *ngIf="schedule.studyDayTime.studyDayTimeStudyDay == day && schedule.studyDayTime.studyDayTimeStudyTime == time">-->
<!--        <p style="margin-top: 16px" *ngIf="schedule.subject.subjectName == 'Trống'">-->
<!--          {{schedule.subject.subjectName}}-->
<!--        </p>-->

<!--        <p style="margin-top: 16px" *ngIf="schedule.subject.subjectName != 'Trống'" class="badge badge-secondary">-->
<!--          {{schedule.subject.subjectName}}-->
<!--        </p>-->

<!--      </ng-container>-->
<!--    </ng-container>-->
<!--  </td>-->
<!--</tr>-->



<!--<div id="mainPhuc">-->

<div
  style="background-image: url('https://meta.vn/Data/image/2021/10/01/hinh-nen-background-powerpoint-31.jpg');background-size: cover; min-height: 130vh;margin-top: 150px">
  <h1 style="color: #1BB1DC;text-align: center;margin-top: 100px;">Lịch dạy
    lớp {{scheduleDetails[0].classroomName}}</h1>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="table-responsive" style="margin-top: 10px">
        <table class="table  table-striped" style="background-color: white">
          <thead style="background-color: #1BB1DC; color: white">
          <tr style="font-size: 16px">
            <th>Tiết</th>
            <th>Thứ Hai</th>
            <th>Thứ Ba</th>
            <th>Thứ Tư</th>
            <th>Thứ Năm</th>
            <th>Thứ Sáu</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let day of days" style="font-size: 18px">
            <th style=" border-right-width: 1.5px; border-right-color: black">{{day}}</th>
            <td *ngFor="let time of times">
              <ng-container *ngFor="let schedule of scheduleDetails">
                <ng-container *ngIf="schedule.studyTime == time && schedule.studyDay == day">
                  <p style="margin-top: 16px" *ngIf="schedule.subjectName  == 'Trống'" class="badge badge-danger">
                    {{schedule.subjectName}}
                  </p>
                  <p style="margin-top: 16px" *ngIf="schedule.subjectName  == 'Toán'" class="badge badge-primary">
                    {{schedule.subjectName}}
                  </p>
                  <p style="margin-top: 16px" *ngIf="schedule.subjectName  == 'Ngoại ngữ'" class="badge badge-success">
                    {{schedule.subjectName}}
                  </p>
                  <p style="margin-top: 16px" *ngIf="schedule.subjectName  == 'Tiếng Việt'" class="badge badge-secondary">
                    {{schedule.subjectName}}
                  </p>
                  <p style="margin-top: 16px" *ngIf="schedule.subjectName  == 'Đạo đức'" class="badge badge-warning">
                    {{schedule.subjectName}}
                  </p>
                  <p style="margin-top: 16px" *ngIf="schedule.subjectName  == 'TN & XH'" class="badge badge-info">
                    {{schedule.subjectName}}
                  </p>
                  <p style="margin-top: 16px" *ngIf="schedule.subjectName  == 'Thể dục'" class="badge badge-dark">
                    {{schedule.subjectName}}
                  </p>
                  <p style="margin-top: 16px" *ngIf="schedule.subjectName  == 'Âm nhạc'" class="badge badge-secondary">
                    {{schedule.subjectName}}
                  </p>
                  <p style="margin-top: 16px" *ngIf="schedule.subjectName  == 'Mỹ thuật'" class="badge badge-info">
                    {{schedule.subjectName}}
                  </p>
                  <p style="margin-top: 16px" *ngIf="schedule.subjectName  == 'Địa lý'" class="badge badge-primary">
                    {{schedule.subjectName}}
                  </p>
                  <p style="margin-top: 16px" *ngIf="schedule.subjectName  == 'Lịch sử'" class="badge badge-success">
                    {{schedule.subjectName}}
                  </p>
                </ng-container>
              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>







<!--                  <p style="margin-top: 16px" *ngIf="schedule.subjectName == 'Trống'" class="badge  badge-danger">-->
<!--                    {{schedule.subjectName}}-->
<!--                  </p>-->
<!--                  <p style="margin-top: 16px" *ngIf="schedule.subjectName != 'Trống'" class="badge  badge-warning">-->
<!--                    {{schedule.subjectName}}-->
<!--                  </p>-->
