<footer id="footer">
  <div class="footer-top">
    <div class="container">

      <div class="row">

        <div class="col-lg-6">

          <div class="row">

            <div class="col-sm-12">

              <div class="footer-info">
                <h3 style="text-align: center">Về chúng tôi</h3>
                <p>Trường quốc tế là trường học cung cấp nền tảng học vấn trong môi trường giáo dục quốc
                  tế, thường áp dụng dạy các chương trình như Tú tài Quốc tế, Edexcel, chương trình
                  Cambridge Quốc tế hoặc theo chương trình đặc thù của mỗi quốc gia khác với chương
                  trình học của nước sở tại. </p>
              </div>
            </div>

          </div>

        </div>

        <div class="col-lg-6">
          <div class="row">
          <div class="col-sm-12"  style="text-align: center">

            <div class="footer-links" >
              <h3>Liên hệ</h3>
              <p><i class="fas fa-location-arrow"></i> <strong> Địa chỉ: </strong>
                Số 295 Nguyễn Tất Thành
                Thanh Bình, Hải Châu,
                Đà Nẵng 550000 <br>
                <i class="fas fa-phone"></i> <strong> Số điện thoại:</strong> 0236 6517 021<br>
                <i class="fas fa-mail-bulk"></i> <strong> Email:</strong> danang@codegym.vn<br>
              </p>
            </div>
            <div class="social-links">
              <a href="#" class="facebook m-1"><i class="fab fa-facebook"></i></a>
              <a href="#" class="twitter m-1"><i class="fab fa-twitter"></i></a>
              <a href="#" class="instagram m-1"><i class="fab fa-instagram"></i></a>
              <a href="#" class="yahoo m-1"><i class="fab fa-yahoo"></i></a>
            </div>
          </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</footer>
