.forImageBackground {
  background-image: url("/assets/img/background-nhat.jpg") !important;
  background-size: cover !important;
  min-height: 130vh !important;
}

#classInputForTable th {
  font-size: 16px;
  color: white;
  vertical-align: middle;
}

#newStudentForClass th {
  font-size: 16px;
  color: white;
  vertical-align: middle;
}

#newStudentForClass td {
  font-size: 14px;
  vertical-align: middle;
}

#classInputForTable td {
  font-size: 14px;
  vertical-align: middle;
}
