h1 {
  color: #1BB1DC;
  text-align: center;
  padding-bottom: 25px;
}

#buttonGroup button {
  background-color: #1BB1DC !important;
  color: white !important;
}
#tableClassInfo thead th {
  align-items: center;
  padding: 0;
}

#tableClassInfo{
  width: 25%;
  min-width: 300px;
}
#tableContentThead {
  background-color: #1BB1DC;
  color: white;
}

#tableContent {
  min-width: 1000px;
}

.phone {
  text-align: center;
}

h5, h6 {
  text-align: center;
  color: red;
}

p {
  margin-bottom: 5px;
  color: red;
  text-align: center;
}

.container-fluid {
  padding: 0 15px 0 15px;
  font-size: 18px;
  /*border-color: #000;;*/
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 42%;
}

#setWidthPhone {
  width: 300px;
}
.setWidthParent {
  width: 300px;
}
#phoneTd {
  padding-left: 40px;
}

.setBackground {
  font-size: 18px;
  background-color: white;
}
#tableContentThead th {
  vertical-align: middle;
}
