.thead {
  color: #1BB1DC;
}
.bg-color {
  background-color: #1BB1DC;
  color: white;
  font-size: 16px;
}

table{
  min-width: 1000px;
  background-color: white;
}

.action-list{
  width: 200px;
  align-items: center;
}

.display-teacher{
  width: 300px;
}

.display-year{
  width: 200px;
}

.for-number{
  padding-left: 45px;
}
.bg-img{
  background-image: url("src/assets/img/background-nhat.jpg");
  background-size: cover;
  min-height: 130vh;
}
