
<div class="container-fluid " style="padding-top: 150px; padding-bottom: 100px; background: #ebebfa">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 table-responsive">
      <div style="display: inline">
        <button class="btn rounded-pill" style="float: right; background: #1BB1DC; color: white; width: 120px" title="Tạo mới"  [routerLink]="['/create']">
          <svg style="margin-top: -4px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
          </svg> Thêm tin
        </button>
        <h1 class="thead" style="text-align: center; margin-left: 110px">DANH SÁCH TIN TỨC</h1>
      </div>
      <div class="row">
        <div class="col-12">
          <nav aria-label="Pagination" class="d-flex justify-content-center">
            <ul class="pagination">
<!--              <li class="page-item">-->
<!--                <a class="btn page-link" aria-label="Previous" (click)="firstPage()">-->
<!--                  <span aria-hidden="true">&laquo;&laquo;</span>-->
<!--                </a>-->
<!--              </li>-->
              <li class="page-item">
                <a class="btn page-link" aria-label="Previous" (click)="previousPage()">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="btn page-link" aria-label="This page">
                  <span aria-hidden="true">{{this.page + 1}} / {{this.totalPage}}</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link btn" aria-label="Next" (click)="nextPage()">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
<!--              <li class="page-item">-->
<!--                <a class="page-link btn" aria-label="Next" (click)="lastPage()">-->
<!--                  <span aria-hidden="true">&raquo;&raquo;</span>-->
<!--                </a>-->
<!--              </li>-->
              <li class="page-item">
                <div class="input-group">
                  <input type="number" min="1" max="{{this.totalPage}}"
                         class="page-link bg-light text-dark rounded" placeholder="Nhập số trang"
                         style="width: 100px; height: 38px" [(ngModel)]="pageNumberInput"
                         (change)="searchPage()">
                  <div class="input-group-append">
                    <button class="btn input-group-text"
                            style="background-color: #1BB1DC; color: white;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                           fill="currentColor" class="bi bi-arrow-right-square"
                           viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row" style="margin-top: 50px">

        <div class="col-md-6 col-lg-4" data-wow-duration="1.0s" *ngFor="let n of newsList">
          <div class="box wow bounceIn">
            <div class="img-fluid"><a href="/read/{{n.newsId}}"><img src="{{n.imageUrl}}" class="card-img rounded-pill" style="width: 330px; height: 250px"></a></div>
            <h4 class="title" style="margin-top: 20px"><a href="/read/{{n.newsId}}" class="title" style="margin-top: 20px">{{n.newTitle}}</a></h4>
            <p class="description">{{n.newsBrief}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

