<div class="container">
  <div class="card">
    <div style=" background-color: #1BB1DC ; color: white" class="card-header">
      <h3 class="text-center">Thay đổi mật khẩu</h3>
    </div>
    <div style="background-color: #f5f8fd" class="card-body">
      <form [formGroup]="editPassAccountForm" (ngSubmit)="submit()">
        <table class="table-borderless" width="100%">
          <tr>
            <th>Mật khẩu cũ(<p style="color: red ; display: inline">*</p>)</th>
            <td colspan="2">
              <input formControlName="oldPassword" type="password" class="form-control">
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div *ngFor="let valid of validationPasswordEdit.oldPassword">
                <span class="err" *ngIf="editPassAccountForm.get('oldPassword').hasError(valid.type) && editPassAccountForm.get('oldPassword').dirty">{{valid.message}}</span>
              </div>
            </td>
          </tr>
<!--          <tr>-->
<!--            <td></td>-->
<!--            <td>-->
<!--              <div *ngIf="message">-->
<!--                <span class="err">{{message}}</span>-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
          <tr>
            <th>Mật khẩu mới(<p style="color: red ; display: inline">*</p>)</th>
            <td colspan="2">
              <input formControlName="accountPassword" type="password" class="form-control" >
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div *ngFor="let valid of validationPasswordEdit.accountPassword">
                <span class="err" *ngIf="editPassAccountForm.get('accountPassword').hasError(valid.type) && editPassAccountForm.get('accountPassword').dirty">{{valid.message}}</span>
              </div>
            </td>
          </tr>
          <tr>
            <th>Xác nhận mật khẩu (<p style="color: red ; display: inline">*</p>)</th>
            <td colspan="2">
              <input formControlName="confirmPassword" type="password" class="form-control" >
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div *ngFor="let valid of validationPasswordEdit.confirmPassword">
                <span class="err" *ngIf="editPassAccountForm.get('confirmPassword').hasError(valid.type) && editPassAccountForm.get('confirmPassword').dirty">{{valid.message}}</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <a style="background-color: #1bb1dc" class="btn btn-primary btn-block" role="button">Hủy</a>
            </td>
            <td>
              <button style="background-color: #1bb1dc" type="submit" class="btn btn-primary btn-block">
                Cập nhật
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
