<div
  style="background-image: url('assets/img/background-nhat.jpg');background-size: cover; min-height: 130vh">
  <div class="container-fluid">
    <h1 class="text-center mb-5" style="color: #1bb1dc; padding-bottom: 50px; padding-top: 70px"> Thông tin học
      viên </h1>
    <div class="row justify-content-center">
      <div class="card" style="width: 50%">
        <div class="row">
          <div class="col-3 card justify-content-center"
               style="background-image: url('assets/img/background.2.jpg');background-size: cover">
            <div class="card-img">
              <img *ngIf="student?.studentImage ; else elseBlock" [src]="student?.studentImage" class="img-fluid">
            </div>
            <ng-template #elseBlock>
              <img src="../../../../assets/img/img_placeholder1.png" class="img-fluid">
            </ng-template>
          </div>
          <div class="col-9 card" style="background-image: url('assets/img/background.2.jpg') ;background-size: contain">
            <div class="row justify-content-center">
              <div class="form-group pl-5 mb-0 mt-4 " style="width: 50%">
                <h5>Mã số</h5>
                <ul>
                  <li style="font-weight: bold ; font-size: 18px"> {{student?.studentId}}</li>
                </ul>
              </div>
              <div class="form-group mb-0 mt-4 " style="width: 50%">
                <h5>Họ và tên</h5>
                <ul>
                  <li style="font-weight: bold ; font-size: 18px">{{student?.studentName}}</li>
                </ul>
              </div>
              <div class="form-group pl-5 mb-0 " style="width: 50%">
                <h5>Ngày sinh</h5>
                <ul>
                  <li style="font-weight: bold ; font-size: 18px">{{student?.studentDateOfBirth | date: 'dd/MM/yyyy'}}</li>
                </ul>
              </div>
              <div class="form-group  mb-0" style="width: 50%">
                <h5>Giới tính</h5>
                <ul>
                  <div [ngSwitch]="student.studentGender">
                    <li style="font-weight: bold ; font-size: 18px" *ngSwitchCase="1">Nam</li>
                    <li style="font-weight: bold ; font-size: 18px" *ngSwitchCase="0">Nữ</li>
                  </div>
                </ul>
              </div>
              <div class="form-group pl-5  mb-0" style="width: 50%">
                <h5>Họ và tên bố</h5>
                <ul>
                  <li style="font-weight: bold ; font-size: 18px">{{student?.studentFatherName}}</li>
                </ul>
              </div>
              <div class="form-group mb-0" style="width: 50%">
                <h5>Họ và tên mẹ</h5>
                <ul>
                  <li style="font-weight: bold ; font-size: 18px">{{student?.studentMotherName}}</li>
                </ul>
              </div>
              <div class="form-group pl-5 mb-0" style="width: 50%">
                <h5>Địa chỉ</h5>
                <ul>
                  <li style="font-weight: bold ; font-size: 18px">{{student?.studentAddress}}</li>
                </ul>
              </div>
              <div class="form-group mb-0" style="width: 50%">
                <h5>Dân tộc</h5>
                <ul>
                  <li style="font-weight: bold ; font-size: 18px">{{student?.studentEthnicity}}</li>
                </ul>
              </div>
              <div class="form-group pl-5 " style="width: 50%">
                <h5>Tình trạng</h5>
                <ul>
                  <li style="font-weight: bold ; font-size: 18px">{{student?.studentStatus}}</li>
                </ul>
              </div>
              <div class="form-group " style="width: 50%">
                <h5>Số điện thoại bố mẹ</h5>
                <ul>
                  <li style="font-weight: bold ; font-size: 18px">{{student?.studentParentPhone}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-2" (click)="quayLai()">
      <button style="background-color: #1bb1dc; color: white" class="btn btn-primary" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-arrow-return-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
        </svg>
        Quay lại
      </button>
    </div>
  </div>
</div>
