<section id="intro" class="clearfix" style="z-index: 0">
  <div class="container d-flex h-100" style="padding-top: 50px">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-6 intro-info order-md-first order-last">
        <h2>Chào mừng đến với môi trường tốt nhất cho bé</h2>
        <p>Chúng tôi cam kết, dành cho con của bạn một môi trường hoàn hảo để phát triển toàn diện</p>
        <div>
          <a routerLink="/list" class="btn-get-started scrollto rounded-pill">Xem thêm</a>
        </div>
      </div>

      <div class="col-md-6 intro-img order-md-last order-first wow bounceIn">
        <img src="assets/img/slider-img.png" alt="" class="img-fluid">
      </div>
    </div>

  </div>
</section><!-- #intro -->

<main id="main">

  <!--==========================
    About Us Section
  ============================-->
  <section id="about">

    <div class="container wow fadeInUp">
      <div class="row">

        <div class="col-lg-5 col-md-6">
          <div class="about-img">
            <img src="assets/img/about-img.jpg" alt="" style="height: 300px">
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content">
            <h2>Về chúng tôi</h2>
            <h3>Hệ Thống Trường Học Quốc Tế C0421G1</h3>
            <p>Quý phụ huynh và các em học sinh thân mến!</p>
            <p>Trường Quốc tế C04212G1 theo đuổi tầm nhìn trở thành một hệ thống trường học xuất sắc, không
              ngừng lớn mạnh - nơi cung cấp cho học sinh nền tảng học vấn vững chắc, thông qua sự kết hợp
              hài hòa Chương trình Giáo dục Quốc gia với Chương trình Giáo dục Quốc tế Cambridge, giúp các
              em sẵn sàng đương đầu với thử thách của cuộc sống cũng như thành công ở những bậc học cao
              hơn, đồng thời vẫn gìn giữ những giá trị văn hóa, truyền thống của dân tộc.</p>
            <ul>
              <li><i class="fas fa-flag-checkered"></i>Giải thưởng Rồng Vàng dành cho Hệ thống
                trường Quốc tế tốt nhất (Việt Nam)
              </li>
              <li><i class="fas fa-flag-checkered"></i> Được công nhận là Trung tâm Giáo dục Quốc
                tế của Cambridge
              </li>
              <li><i class="fas fa-flag-checkered"></i> Áp dụng các phương pháp giảng dạy tốt nhất
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section><!-- #about -->


  <!--==========================
    Services Section
  ============================-->
  <section id="services" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>Tin tức - Hoạt động</h3>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box" style="height: 400px">
            <div class="img-fluid"><img src="https://img.nordangliaeducation.com/resources/asia/_filecache/5e0/c2c/255064-maintainratio-w1000-h667-of-1-FFFFFF-img_4056.JPG" class="card-img" style="width: 260px; height: 150px"></div>
            <h4 class="title" style="margin-top: 20px"><a href="news/read/1">Tiêu Điểm Trong Tuần</a></h4>
            <p class="description">Cùng điểm lại những tin tức sự kiện diễn ra trong tuần đầu tiên của tháng
              11/2021.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box"  style="height: 400px">
            <div class="img-fluid"><img src="https://img.nordangliaeducation.com/resources/asia/_filecache/c4d/31d/43841-1.jpg" class="card-img"  style="width: 260px; height: 150px"></div>
            <h4 class="title" style="margin-top: 20px"><a href="news/read/2">Tuần này tại khối tiểu học – Cô Thanh Hà 15/10/2021</a></h4>
            <p class="description">
              Chuyến đi nhằm mục đích tăng cường kiến thức của các em trong chủ đề “Lương thực và Canh tác” trong môn Liên Kết.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box"  style="height: 400px">
            <div class="img-fluid"><img src="https://img.nordangliaeducation.com/resources/asia/_filecache/8b3/9fa/255052-maintainratio-w800-h600-of-1-FFFFFF-phuc-thinh.jpg" class="card-img"  style="width: 260px; height: 150px"></div>
            <h4 class="title" style="margin-top: 20px"><a href="news/read/3">Điều quan trọng là con luôn vui vẻ mỗi ngày tại Trường học Ảo!</a></h4>
            <p class="description">Phúc Thịnh, Học sinh Lớp 1 tại C0421G1 đã luôn tích cực học tập kể từ khi Trải nghiệm Trường học Ảo tại Khối Tiểu bắt đầu!</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box"  style="height: 400px">
            <div class="img-fluid"><img src="https://img.nordangliaeducation.com/resources/asia/_filecache/f6a/f4a/221168-maintainratio-w1550-h1033-of-1-FFFFFF-edit-1.jpg" class="card-img"  style="width: 260px; height: 150px"></div>
            <h4 class="title" style="margin-top: 20px"><a href="news/read/4">Ham học hỏi - Chìa khóa dẫn đến những khoảnh khắc tuyệt vời</a></h4>
            <p class="description">STEAM là phương pháp học tập sử dụng Khoa học, Công nghệ, Kỹ thuật, Nghệ thuật và Toán học để thúc đẩy học sinh tìm tòi, giao tiếp và tư duy.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box"  style="height: 400px">
            <div class="img-fluid"><img src="https://img.nordangliaeducation.com/resources/asia/_filecache/d14/a90/245685-padded-w982-h628-of-1-f8f4f3-rai01147.jpg" class="card-img"
                                        style="width: 260px; height: 150px"></div>

            <h4 class="title" style="margin-top: 16px"><a href="news/read/5">Hoạt động Ngủ lại tại trường</a></h4>
            <p class="description">Sau giờ học hôm Thứ Năm, các em Lớp 3 đã ở lại trường và tiếp tục tham gia những chuyến phiêu lưu do các giáo viên tổ chức.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box"  style="height: 400px">
            <div class="img-fluid"><img src="https://img.nordangliaeducation.com/resources/asia/_filecache/14e/499/230493-maintainratio-w1550-h1033-of-1-FFFFFF-img_3764.jpg" class="card-img"
                                        style="width: 260px; height: 150px"></div>
            <h4 class="title" style="margin-top: 16px"><a href="news/read/6">Bật mí nhanh về Tuần Lễ Halloween Kỳ Bí đầu tiên tại C0421G1!</a></h4>
            <p class="description">Sự hấp dẫn đến từ những màn hóa trang độc đáo và màu sắc văn hóa phương Tây đã và đang khiến Lễ Hội Halloween ngày càng trở nên phổ biến hơn tại Việt Nam.</p>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 wow bounceIn" data-wow-delay="0.2s" data-wow-duration="1.0s"
             style="text-align: center">
          <button class="btn rounded-pill font-weight-bold"
                  style="background-color: #1bb1dc; padding: 8px 30px; color: white; font-size: 13px" (click)="navigate()">XEM THÊM
          </button>
        </div>
      </div>
    </div>
  </section>

  <section id="portfolio">
    <div class="container">

      <header class="section-header">
        <h3 class="section-title">Ảnh Hoạt Động</h3>
      </header><br>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeIn">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/hoc-tap-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Học tập 1</a></h4>
              <div>
                <a href="assets/img/portfolio/hoc-tap-1.jpg" data-lightbox="portfolio" data-title="Học tập 1"
                   class="link-preview" title="Preview"><i class="fas fa-eye"></i></a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeIn" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/hoc-tap-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Học tập 2</a></h4>
              <div>
                <a href="assets/img/portfolio/hoc-tap-2.jpg" class="link-preview" data-lightbox="portfolio"
                   data-title="Học tập 2" title="Preview"><i class="fas fa-eye"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeIn" data-wow-delay="0.4s">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/vui-choi-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Vui chơi 2</a></h4>
              <div>
                <a href="assets/img/portfolio/vui-choi-2.jpg" class="link-preview" data-lightbox="portfolio"
                   data-title="Vui chơi 2" title="Preview"><i class="fas fa-eye"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeIn" data-wow-delay="0.6s">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/hoc-tap-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Học tập 3</a></h4>
              <div>
                <a href="assets/img/portfolio/hoc-tap-3.jpg" class="link-preview" data-lightbox="portfolio"
                   data-title="Học tập 3" title="Preview"><i class="fas fa-eye"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeIn" data-wow-delay="1s">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/vui-choi-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Vui chơi 1</a></h4>
              <div>
                <a href="assets/img/portfolio/vui-choi-1.jpg" class="link-preview" data-lightbox="portfolio"
                   data-title="Vui chơi 1" title="Preview"><i class="fas fa-eye"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeIn" data-wow-delay="0.8s">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/vui-choi-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Vui chơi 3</a></h4>
              <div>
                <a href="assets/img/portfolio/vui-choi-3.jpg" class="link-preview" data-lightbox="portfolio"
                   data-title="Vui chơi 3" title="Preview"><i class="fas fa-eye"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #portfolio -->

  <section id="pricing" class="wow fadeInUp"
           style="background-image: url(https://i.pinimg.com/564x/9b/5b/c4/9b5bc41eda63fddc4cc094878dbe2a27.jpg)">

    <div class="container">

      <header class="section-header">
        <h3>Phụ huynh nói gì</h3>
        <br>
      </header>

      <div class="row flex-items-xs-middle flex-items-xs-center">

        <div class="col-xs-12 col-lg-3">
          <div class="card">
            <div class="card-img rounded-circle">
              <img src="assets/img/team-1.jpg" class="card-img p-3 rounded-circle"
                   style="width: 250px; height: 210px">
            </div>
            <div class="card-block m-1 p-2">
              <h4 class="card-title">
                Anh Nhựt Tân - PH bé Minh Tâm
              </h4>
              <p>"Một ngôi trường tuyệt vời do gia đình tự quản, nơi nuôi dưỡng nhu cầu và tài năng của mỗi đứa trẻ. Chúng tôi rất vui vì đã chọn gửi hai con gái của mình đến C0421G1 và sẽ giới thiệu trường trong tích tắc."</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-lg-3">
          <div class="card">
            <div class="card-img rounded-circle">
              <img src="assets/img/team-2.jpg" class="card-img p-3 rounded-circle"
                   style="width: 250px; height: 210px">
            </div>
            <div class="card-block m-1 p-2">
              <h4 class="card-title">
                Chị Nguyễn Hà - PH bé An Phúc
              </h4>
              <p>"Chúng tôi rất hài lòng. Ở cuối học kỳ của năm đầu tiên, con tôi đã hiểu được rất nhiều tiếng Úc và không ngại nói. Trường học quy mô nhỏ như thế này rất phù hợp cho chúng tôi theo dõi quá trình học tập."</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-lg-3">
          <div class="card">
            <div class="card-img rounded-circle">
              <img src="assets/img/team-3.jpg" class="card-img p-3 rounded-circle"
                   style="width: 250px; height: 210px">
            </div>
            <div class="card-block m-1 p-2">
              <h4 class="card-title">
                Anh Hoàng Hải - PH bé Như Ngọc
              </h4>
              <p>"Trường rất quan tâm và chú ý đến học sinh cũng như nhu cầu cụ thể của từng em. Cô Line và các thầy cô giáo khác đã tạo ra một môi trường rất tuyệt vời cho các em học tập và phát triển sự sáng tạo."</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-lg-3">
          <div class="card">
            <div class="card-img rounded-circle">
              <img src="assets/img/team-4.jpg" class="card-img p-3 rounded-circle"
                   style="width: 250px; height: 210px">
            </div>
            <div class="card-block m-1 p-2">
              <h4 class="card-title">
                Anh Văn Toàn - PH bé Ngọc Lan
              </h4>
              <p>"Cảm ơn sự hiểu biết của nhà trường và chúng tôi đánh giá cao nỗ lực của bạn trong việc cộng tác với APE. Bạn biết rằng đây là một ngôi trường tuyệt vời khi con bạn vui vẻ gặp các bạn cùng trường vào mỗi buổi sáng!"</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

