<div id="back-ground">
  <div class="container-fluid">
    <div class="row" style="margin: 0 auto; text-align: center">
      <div class="col-lg-12">
        <div style="align-self: center; padding-top: 100px">
          <div style="display: inline-flex; width: 500px">
            <label class="sr-only" for="inlineFormInputName2">Name</label>
            <input name="name" [(ngModel)]="studentName" type="search" class="form-control mb-2 mr-sm-2"
                   id="inlineFormInputName2" placeholder="Tìm kiếm học sinh theo tên">
            <button (click)="getSearch()" class="btn btn-primary" style="height: 38px">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="currentColor"
                   class="bi bi-search"
                   viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
          </div>
          <br><br>
          <div style="font-weight: bold;font-size: 18px"><span style="font-size: 22px"> <svg style="color: rgba(91,91,194,0.92)" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-broadcast-pin" viewBox="0 0 16 16">
  <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM6 8a2 2 0 1 1 2.5 1.937V15.5a.5.5 0 0 1-1 0V9.937A2 2 0 0 1 6 8z"/>
</svg>    &#160;  </span>  <input name="status" [(ngModel)]="studentStatus" type="radio" value="Đang học" checked> Đang
            học |
            <input [(ngModel)]="studentStatus" name="status" type="radio" value="Thôi học"> Thôi học |
            <input [(ngModel)]="studentStatus" name="status" type="radio" value="lưu ban"> Lưu ban |
            <input [(ngModel)]="studentStatus" name="status" type="radio" value="Chờ phân lớp"> Chờ phân lớp |
            <input [(ngModel)]="studentStatus" name="status" type="radio" value=""> Tất cả
          </div>
          <br><br><br><br>
        </div>
      </div>
    </div>
    <!--    <h3 style="font-family: 'Times New Roman';float: right;margin-top: 50px">Tìm kiếm học sinh : </h3><br><br>-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-12 table-responsive">
              <table class="table table-striped" style="min-width: 800px; background-color: white">
                <thead>
                <tr style="background-color: dodgerblue;text-align: center; color: white;font-size: 16px">
                  <th style="width: 200px" scope="col">Số thứ tự</th>
                  <th style="width: 200px" scope="col">Tên</th>
                  <th style="width: 200px" scope="col">Lớp</th>
                  <th style="width: 200px" scope="col">Ngày sinh</th>
                  <th style="width: 200px" scope="col">Khóa học</th>
                  <th style="width: 200px" scope="col">Địa chỉ</th>
                  <th style="width: 200px" scope="col">Trạng thái</th>
                  <th style="width: 200px" scope="col">DeleteFlag</th>
                  <th style="width: 200px" scope="col" style="width: 100px; text-align: center;">Chức năng</th>
                </tr>
                </thead>
                <tbody *ngIf="students.content.length > 0">
                <tr *ngFor="let item of students.content ;let i = index" style="text-align: center">
                  <td>{{i + 1 + sizePagination * indexPagination}}</td>
                  <td>{{item.studentName}}</td>
                  <td>{{item.classroom.classroomName}}</td>
                  <td>{{item.studentDateOfBirth | date: "dd/MM/yyyy"}}</td>
                  <td>{{item.classroom.classroomSchoolYear}}</td>
                  <td>{{item.studentAddress}}</td>
                  <td>{{item.studentStatus}}</td>
                  <td>{{item.deleteFlag}}</td>
                  <td class="text-center d-flex justify-content-center">
                    ​
                    <!--BUTTON SỬA-->
                    <button class="btn p-0 m-1 btn-warning text-white" style=" width: 32px; height: 32px;"
                            data-toggle="tooltip" data-placement="top" title="Chỉnh sửa học sinh">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">
                        <path
                          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </button>
                    <!--BUTTON XOÁ-->
                    <button class="btn p-0 m-1" style="background-color:red; width: 32px; height: 32px;"
                            data-toggle="tooltip" data-placement="top" title="Xoá học sinh">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-trash text-white mb-1" viewBox="0 0 16 16">
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd"
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
                ​
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
  ​
  <div class="container-fluid">
    <div class="row mt-4" style="overflow-x: hidden">
      <div class="col-12">
        <nav aria-label="Pagination" class="d-flex justify-content-center">
          <ul class="pagination">
            <li class="page-item">
              <button class="page-link" aria-label="Previous" (click)="previousPage()">
                <span aria-hidden="true">&laquo;</span>
              </button>
            </li>
            <li class="page-item">
              <p class="page-link">{{indexPagination + 1}}/{{totalPagination}}</p>
            </li>
            <li class="page-item" (click)="nextPage()">
              <button class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </button>
            </li>
            <li class="page-item ml-2">
              <div class="input-group">
                <input type="number" min="1" class="form-control" placeholder="Tới trang..." id="presentPage"
                       style="width: 118px;" #presentPage>
                <div class="input-group-append">
                  <button class="btn input-group-text" style="background-color: #1BB1DC; color: white;"
                          (click)="findPagination(presentPage.value)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                            d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

​
