<div class="container-fluid">
  <div style="align-self: center;float: right;margin-top: 50px">
    <div style="display: inline-flex; width: 500px">
      <label class="sr-only" for="inlineFormInputName2">Name</label>
      <input name="name" [(ngModel)]="studentName" type="search" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Tìm kiếm học sinh">
      <button (click)="getSearch(0)"  class="btn btn-primary" style="height: 40px">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="currentColor"
             class="bi bi-search"
             viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </div><br><br><br>

    <div> Status :      <input  name="status"  [(ngModel)]="studentStatus"  type="radio" value="Đang học" checked> Đang học
      <input  [(ngModel)]="studentStatus" name="status"  type="radio" value="Đã thôi học" > Thôi học</div>

  </div>
  <!--    <h3 style="font-family: 'Times New Roman';float: right;margin-top: 50px">Tìm kiếm học sinh : </h3><br><br>-->
  <h5 style="font-family: 'Times New Roman'; clear: right"> Kết quả tìm kiếm </h5><br>
  <table class="table table-striped">
    <thead>
    <tr style="background-color: dodgerblue;text-align: center">
      <th scope="col">Số thứ tự</th>
      <th scope="col">Tên</th>
      <th scope="col">Lớp</th>
      <th scope="col">Ngày sinh</th>
      <th scope="col">Khóa học </th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Trạng thái</th>
      <th scope="col" style="padding-left: 50px">Chức năng</th>
    </tr>
    </thead>
    <tbody *ngIf="students.content.length > 0">
    <tr *ngFor="let item of students.content ;let i = index" style="text-align: center">
      <td>{{i+1}}</td>
      <td>{{item.studentName}}</td>
      <td>{{item.classroom.classroomName}}</td>
      <td>{{item.studentDateOfBirth}}</td>
      <td>{{item.classroom.classroomSchoolYear}}</td>
      <td>{{item.studentAddress}}</td>
      <td>{{item.studentStatus}}</td>
      <td>
        <button class="btn p-0 "><i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16" color="Orange">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg></i> Chỉnh sửa   |</button>
        <button class="btn p-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" color="red">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg> Xóa</button>
      </td>
    </tr>

    </tbody>
  </table>
  <!--    <nav aria-label="Page navigation example">-->
  <!--      <ul class="pagination d-flex justify-content-md-end justify-content-center">-->
  <!--        <li class="page-item">-->
  <!--          <button class="page-link" [hidden]="students.pageable.pageNumber === 0" (click)="getSearch(0)">Đầu</button>-->
  <!--        </li>-->
  <!--        <li class="page-item">-->
  <!--          <button class="page-link" [hidden]="students.pageable.pageNumber == 0"-->
  <!--                  (click)="getSearch(students.pageable.pageNumber - 1)">Trang-->
  <!--            trước-->
  <!--          </button>-->
  <!--        </li>-->
  <!--        <li class="page-item col-md-1 col-2  px-0">-->
  <!--          <div class="input-group">-->
  <!--            <input #ok type="number" min="1" max="students.totalPages"-->
  <!--                   class="form-control text-right rounded-0" [value]="students.pageable.pageNumber + 1">-->
  <!--            <div class="input-group-prepend">-->
  <!--              <span class="input-group-text" id="basic-addon1"> /{{students.totalPages}}</span>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </li>-->
  <!--        <li class="page-item">-->
  <!--          <button (click)="getSearch(ok.value - 1)" class="btn btn-primary rounded-0">Đi</button>-->
  <!--        </li>-->
  <!--        <li class="page-item">-->
  <!--          <button class="page-link" [hidden]="students.pageable.pageNumber >=  students.totalPages - 1"-->
  <!--                  (click)="getSearch(students.pageable.pageNumber + 1)">Trang kế-->
  <!--          </button>-->
  <!--        </li>-->
  <!--        <li class="page-item">-->
  <!--          <button class="page-link" [hidden]="students.pageable.pageNumber >=  students.totalPages - 1 && students.pageable.pageNumber < students.totalPages"-->
  <!--                  (click)="students.pageable.pageNumber = students.totalPages - 1; getSearch(students.totalPages -1)">Cuối-->
  <!--          </button>-->
  <!--        </li>-->
  <!--      </ul>-->
  <!--    </nav>-->

</div>
<div style="margin-left: 530px">
  <ul class="pagination ">
    <li class="page-item "><a class="btn btn-primary mr-2"  (click)="firstPage()">First</a></li>
    <li class="page-item "><a class="btn btn-primary mr-2" (click)="previousPage()">Previous</a>
    </li>
    <li class="page-item"><a class="btn btn-primary mr-2" style="color: black">{{page + 1}}</a></li>
    <li class="page-item"><p class="btn btn-primary mr-2" style="color: black">/</p></li>
    <li class="page-item"><a class="btn btn-primary mr-2" style="color: black">{{totalPage}}</a></li>
    <li class="page-item"><a class="btn btn-primary mr-2" style="color: black" (click)="nextPage()">Next</a></li>
    <li class="page-item "><a class="btn btn-primary mr-2" style="color: black" (click)="lastPage()">Last</a></li>
  </ul>
</div>



