#studentSearchTable {
  background-color: white;
  min-width: 1100px;
}

#studentSearchTable th, td{
  vertical-align: middle;
}

#back-ground {
  background-image: url('/assets/img/background-nhat.jpg');
  background-size: cover;
  min-height: 130vh
}


