/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, h6 {
  font-family: "Baloo Paaji 2", sans-serif;
}

.error.mat-snack-bar-container{
  min-width: 250px;
  background-color: red;
  color: white;
}

.success.mat-snack-bar-container{
  min-width: 250px;
  background-color: #35a028;
  color: white;
}

.mat-dialog-container {
  background-color: white !important;
  color: black !important;
}

/*HaNTT TEST*/
/*body {*/
/*  background-image:*/
/*    url("https://lh3.googleusercontent.com/proxy/hBzEFA_9x4dhriEgI_ZxfY9eA5FYbhhhteITpz4fmVe6gSSj_2e-p-uBKyJNLN0L2Guf6SOsUo4h7b3ks_jJ") !important;*/
/*}*/
.forContent {
  z-index: 1 !important;
}

